/* Login.module.css */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1da1f2; /* Twitter blue background color */
}

.section {
  background-color: white;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center content */
}

h1 {
  font-size: 28px;
  color: #1da1f2; /* Twitter blue color */
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center form elements */
}

label {
  font-size: 14px;
  color: #657786; /* Twitter gray color */
  margin-bottom: 8px;
  text-align: left; /* Align label text to left */
}

input {
  padding: 12px;
  border: 1px solid #ccd6dd; /* Twitter input border color */
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 16px;
  width: 100%; /* Make input fields take full width */
  box-sizing: border-box; /* Include padding and border in the width */
}

button {
  background-color: #1da1f2; /* Twitter blue color */
  color: white;
  padding: 12px 24px; /* Add padding to the button */
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0d91e0; /* Darker shade of Twitter blue */
}

.signup-button {
  background-color: #1da1f2;
  border: none;
  color: #fff; /* Twitter blue color */
  text-decoration: underline;
  cursor: pointer;
  margin-top: 8px; /* Adjusted margin */
}

.signup-button:hover {
  text-decoration: none;
}
